body {
  background: #f5f5f5;
}

.nav-juosta {
  list-style-type: none;
  margin: 0;
  padding: 50px;
}

.nav-juosta li {
  float: left;
}

.nav-juosta li .logo {
  max-width: 150px;
  margin-right: 200px;
}

.active {
  padding: 10px 20px;
  background-color: #5468e7;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.nav-juosta li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#blog {
  color: white;
}

#blog:hover {
  background-color: #4055b3;
}

.hero {
  background-image: url("/assets/images/christina.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 800px;
  color: #f5f5f5;
}

.hero h1 {
  margin-top: 252px;
}

.hero p {
  margin-top: 20px;
  color: #f5f5f5;
}

.email-form {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.email-input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.early-access-btn {
  padding: 10px 20px;
  background-color: #5468e7;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.early-access-btn:hover {
  background-color: #4055b3;
}

/*puslapio blokai*/

.container {
  max-width: 1160px;
  margin: auto;
  padding: 20px;
}

.img-fluid {
  width: 100%;
  height: auto;
}

@media (max-width: 992px) {
  .flex-lg-row-reverse {
    flex-direction: column-reverse;
  }
}

/*tekstas*/

.text-h {
  margin: 100px auto;
  font-weight: 700;
  font-size: 50px;
  color: #232340;
  text-align: center;
}

/*blokas su zvaigzdutemis*/

.raiting {
  margin: 100px auto;
  display: flex;
  padding: 30px;
  gap: 30px;
  flex-wrap: wrap;
}

.raiting > div {
  background: #ffffff;
  width: calc(33.33% - 20px);
  padding: 20px;
}

.raiting > div p {
  padding: 20px 0;
}

#star {
  width: 162.4px;
  height: 32px;
}

.card-text {
  padding: 0px;
  width: 301px;
  height: 189px;
}

/*apacia*/

footer {
  background: #232340;
  padding-top: 70px;
  color: #f5f5f5;
  margin: 0 auto;
  width: auto;
  padding-bottom: 20px;
}

footer p {
  color: #f5f5f5;
  padding-top: 30px;
}

.container-fluid h3 {
  font-family: "Lexend Deca", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #5468e7;
}

footer ul {
  margin-top: 20px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

footer .copyrigth {
  text-align: center;
  width: 100%;
  padding: 50px 0;
}
